.registration_container{
  width: 33%;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 8px;
  background: #F5F5F5;
}

.registration_container h2{
  background: #E0DFDF;
  height: 32px;
  margin: 0;
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

.registration_container label{
  display: inline-block;
  text-align: right;
  margin: 10px;
  
}

.registration_container input{
  margin: 5px;
}

.registrationForm{
  width: 50%;
  margin: 0 auto;
}
#register_button{
  margin: 10px 0 20px 0;
  border: none;
  width: 150px;
  height: 25px;
  border-radius: 5px;
  background:#A7C4C0;
  cursor: pointer;
  font-weight: bold;
}
#register_button:hover{
  background: #024e2e9c;
  color:white;
}
.registration_input_container{
  width: 35%;
  margin: 0 auto;
}

@media screen and (max-width: 480px){
  .registration_container{
    width: 90%;
  }

  .registration_input_container{
    width: 63%;
  }
  
}
