#header h2 {
  margin-top: 0px;
}

.income_page_container{
  padding: 15px;
}

.income{
  width: 200px;
  margin: 0 auto;
  position: relative;
  top: 30px;
}

.form_box{
  margin: 0 auto;
  width: 33%;
  margin-top: 5%;
  border-radius: 8px;
  background: #f5f5f5;
  padding: 10px;
  height: 51%;
  padding-bottom: 20px;
}

.income label{
  margin: 0 auto;
}
.income h2{
  margin-bottom: 45px;
}

#income_buttons{
  border: none;
  width: 150px;
  height: 25px;
  border-radius: 5px;
  background:#A7C4C0;
  cursor: pointer;
  font-weight: bold;
  margin: 20px;
}

#income_buttons:hover{
  background: #024e2e9c;
  color:white;
}
