@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
  font-family: 'Raleway', sans-serif;
}

.App{
  width: 70%;
    height: 100vh;
    text-align: center;
    margin: 0;
}
li a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

ul{
  list-style-type: none;
  padding: 0px;

}

input{
  margin: 10px;
}

label{
  margin: 15px;
}

html{
  margin: 0;
}

body{
  margin: 0;
  height: 100%;
}

#banner{
  background: #A2BFBB;
  height: 300px;
  width: 100vw;

}
html{
  background: #E3E3E3;
  padding-bottom: 12px;
}

.header h1{
  margin: 0;
}

.header{
  padding-top: 20px;
}

@media screen and (max-width: 480px) {
  .App{
    width: 70%;
  }
  label{
    margin: 15px;
  }
}
