@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
  font-family: 'Raleway', sans-serif;
}

.App{
  width: 70%;
    height: 100vh;
    text-align: center;
    margin: 0;
}


ul{
  list-style-type: none;
  padding: 0px;

}

input{
  margin: 10px;
}

label{
  margin: 15px;
}

html{
  margin: 0;
}

body{
  margin: 0;
}

#banner{
  background: #1f8c7e99;
  height: 300px;
  width: 100%;
  position: fixed;
}

#body{
  background: #cccccc8c;
  height: 100vh;
}

.header h1{
  margin: 0;
}

.header{
  padding-top: 20px;
}

/* for registration page */

.registration_container{
  width: 33%;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 8px;
  background: #f5f5f5a3;
}

.registration_container h2{
  background: #ffffff91;;
  height: 32px;
  margin: 0;
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

.registration_container label{
  border: 1px solid black;
  display: inline-block;
  text-align: right;
  
}

/* for welcome page */

.wishlist_window{
  width: 33%;
  margin-top: 5%;
  border-radius: 8px;
  background: #f5f5f5;
  padding: 10px;
  float: right;
  height: 350px;
  position: relative;
  margin-right: 10%;
}

.wishlist_window li{
  border-radius: 2px;
  background: #dbdada;
  font-size: 17px;
  font-weight: bold;
}

.wishlist_window li span{
  margin-left: 20px;
}

.button_menu{
  position: relative;
  bottom: -500px;
}

#edit{
  position: absolute;
  bottom: 20px;
  left: 37%;
  border: none;
  width: 150px;
  height: 25px;
  border-radius: 5px;
  background:#A7C4C0;
  cursor: pointer;
}
#edit:hover{ 
  background: #024e2e9c;
  }



.expenses_window{
  width: 33%;
  margin-top: 5%;
  border-radius: 8px;
  background: #f5f5f5;
  padding: 10px;
  float: left;
  height: 350px;
  margin-left: 10%;
}

.expenses_window li{
  border-radius: 2px;
  background: #dbdada;
  font-size: 17px;
  height: 25px;
  font-weight: bold;
  color: rgb(209, 0, 0);
}

.expenses_window li span{
  margin-left: 20px;

}


.expenses_window p {
  text-align: center;
  margin-left: 15%;
}

#delete_expense{
  float: right;
  margin-right: 20px;
  margin-top: 2px;
  border: none;
  background: none;
  cursor: pointer;
}
#delete_expense:hover{
  font-size: 105%;
  text-shadow: 7px -3px 3px rgba(0, 0, 0, 0.644);
}


  







@media screen and (max-width: 375px) {
  .App{
    width: 70%;
  }
  label{
    margin: 15px;
  }
}