.wishlist_window{
  width: 33%;
  margin-top: 5%;
  border-radius: 8px;
  background: #f5f5f5;
  padding: 10px;
  float: right;
  height: 50%;
  position: relative;
  margin-right: 10%;
}

.wishlist_window li{
  border-radius: 2px;
  background: #dbdada;
  font-size: 17px;
  font-weight: bold;
}

.wishlist_window li span{
  margin-left: 20px;
}

#logout_button{
  margin: 5px;
  position: absolute;
  top: 20px;
  right: 25px;
  border: none;
  width: 150px;
  height: 25px;
  border-radius: 5px;
  background: #024e2e9c;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

#red_total{
  color: rgb(209, 0, 0);
}

#logout_button:hover{
  background: rgb(122, 155, 143);
  color: rgb(209, 0, 0);
}


#new_budget_button{
  margin: 15px;
  left: 37%;
  border: none;
  width: 150px;
  height: 25px;
  border-radius: 5px;
  background:#A7C4C0;
  cursor: pointer;
  font-weight: bold;
}

#new_budget_button:hover{
  background: #024e2e9c;
  color:white;
}

#edit{
  position: relative;
  margin: 0 auto;
  border: none;
  width: 150px;
  height: 25px;
  border-radius: 5px;
  background:#A7C4C0;
  cursor: pointer;
  font-weight: bold;
}
#edit:hover{ 
  background: #024e2e9c;
  color:white;
  }

.current_limit{
  width: 33%;
  margin-top: 5%;
  border-radius: 8px;
  background: #f5f5f5;
  padding: 10px;
  float: left;
  height: 150px;
  margin-left: 33%;
}

.expenses_window{
  width: 33%;
  margin-top: 5%;
  border-radius: 8px;
  background: #f5f5f5;
  padding: 10px;
  float: left;
  height: 50%;
  margin-left: 10%;
}

.expenses_window li{
  border-radius: 2px;
  background: #dbdada;
  font-size: 17px;
  height: 25px;
  font-weight: bold;
  color: rgb(209, 0, 0);
}

.expenses_window li span{
  margin-left: 20px;

}


.expenses_window p {
  text-align: center;
  margin-left: 15%;
}

#delete_expense{
  float: right;
  margin-right: 20px;
  margin-top: 2px;
  border: none;
  background: none;
  cursor: pointer;
}
#delete_expense:hover{
  font-size: 105%;
  text-shadow: 7px -3px 3px rgba(0, 0, 0, 0.644);
}

@media screen and (max-width: 480px) {
  .current_limit {
    width: 50%;
    margin-left: 25%;
    height: 130px;
    margin-bottom: 18px;
  }
  #new_budget_button{
    margin: 3px;
  }
  .expenses_window{
    margin-left: 2%;
    width: 42%;
    padding: 8px;
  }
  .wishlist_window{
    margin-right: 2%;
    width: 42%;
  } 
  .expenses_window p{
    font-size: 14px;
    margin-left: 2px;
  }
  .expenses_window li span{
    margin-left: 5px;
  }
  #delete{
    margin-right: 0px;
    margin-top: -1px;
  }
  #delete_expense{
    margin-right: 8px;
  }
  h3{
    font-size: 15px;
  }
  #logout_button{
    top: 90px;
    right: 86px;
  }
  .wishlist_window li{
    font-size: 15px;
  }
  .wishlist_window li span{
    margin-left: 4px;
  }
}

@media screen and (max-width: 320px) {

  .current_limit{
    margin-left: 21%;
  }
  .current_limit h3{
    margin: 5px;
  }
}

@media screen and (max-width: 330px){
  .current_limit{
    margin-top: 19px;
  }
  #edit{
    width: 135px;
  }
  #delete_expense{
    margin-right: -8px;
    margin-top: 0px;
  }
}

